<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class='myform'>
        <form class="example" action="/tweets/filter" method="POST" style="margin:auto;max-width:400px">
            <input type="text" name="searchfilter" placehodler="Search...">
            <button type="submit"><i class="fa fa-search"></i></button><br>
        </form>
    </div>
      
    <%if(flag==true){%>
        <form class="filterform" action="/filterretweets" method="POST">
            Filter on retweets:<br>
            <input type="radio" name="retweetfilter" id="all" value="all">
            <label for="all">All</label><br>
            <input type="radio" name="retweetfilter" id="retweets" value="retweeted">
            <label for="retweets">Retweeted</label><br>
            <input type="radio" name="retweetfilter" id="notretweets" value="notretweeted">
            <label for="notretweets">Not Retweeted</label><br>
            <button type="submit">Filter</button>
        </form>
        
    <div class="allcards">
        <%for(i=0;i<tweets.length;i++){%>
            <div class="card" style="width:75rem;height:10rem;padding-left: 5px;">
                <h4><%=tweets[i].Username%></h4>
                <h5><%=tweets[i].TweetDescription%></h5>
                    <p><%=tweets[i].DateofTweet%></p>
                    <div class="bottomline">
                        <p><strong>Location: </strong><%=tweets[i].location%> </p>
                        <p class="retweets"><strong >Retweets: </strong><%=tweets[i].retweetcount%> </p>
                    </div>
                
            </div>

        <%}%>
    </div>
    <%}%>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>